.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 1px solid white;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 1px solid white;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.arrowKeys {
  margin-left: 50px;
}

.black-box {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 40%;
  border: 1px solid #000;
}

.black-box h1 {
  margin: auto 40px;
  font-family: "Courier New", Courier, monospace;
}
